:host {
    .container {
        width: 40%;
        margin-left: 30%;
        input {
            width: 100%;
            margin-bottom: 10px;
        }
        button {
            width: 50%;
            border-radius: 0px;
        }
    }
    h1 {
        text-transform: uppercase;
        margin-bottom: 40px;
        margin-top: 15px;
        text-align: center;
    }
}